body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
}
*{
	box-sizing:border-box;
}
.fullcontent{
	margin: 1rem 2rem;
}
h1{
	font-size: 1.5rem;
	color: #454547;
	margin: 5% auto 3% auto;
}

/******************** Imp ********************/
.shade{
	font-size: 2.5rem;
	margin-top: 0;
	text-shadow: 2px 2px 8px #86C232;
	color: #61892F;
}
.mybox{
	min-height: 40vh;
	width: 100%;
	display: flex;
}
.innerbox{
	width: 400px;
	height: 200px;
	margin: auto;
	background-color: #86C232;
	box-shadow: 20px 20px 20px 0px black;
}


