body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
}
*{
	box-sizing:border-box;
}
.fullcontent{
	margin: 1rem 2rem;
}
h1{
	font-size: 1.5rem;
	color: #454547;
	margin: 5% auto 3% auto;
}

/******************** Imp ********************/

#red{
	border: 4px solid grey;
	width: 300px;
	height: 360px;
}
#red .box {
	width: 60%;
	height: 80%;
  	background-color: red;
  	transform: perspective( 600px ) rotateY( 45deg );
}

/*****************************************************************/
.wrap {
	height: 30vh;
	perspective: 800px;
	perspective-origin: 50% 100px;
}
.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
	left: 4%;
}
.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
	background: yellow;
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background: grey;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background: grey;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	background: pink;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	background: pink;
}
.front {
	transform: translateZ(100px);
	background: yellow;
}











